{extend name="index" /}
{block name="title"}
进出车辆信息查询{/block}
{block name="content"}
<link rel="stylesheet" type="text/css" href="__STATIC__/jquery-ui-1.12.1/jquery-ui.css">
<div id="showDetail" style="display: none;"><img src="" id="showImg" alt="无此图片" width="800" /></div>
<table class="table table-hover table-bordered" >
	<tr class="info" align="center">
		<th>车牌号</th>
		<th>用户名</th>
		<th>收费标准</th>
		<th>车辆类型</th>
		<th>出入类型</th>
		<th>是否手动输入</th>
		<th>进出通道名称</th>
		<th>出入场时间</th>
		<!-- <th>图片路径</th> -->
	</tr>
	{volist name="EntityClasses" id="_Entity"}
	<tr>
		<td>{$_Entity.Plate}</td>
		<td>{$_Entity.UserName}</td>
		<td>{$_Entity.ChargeType}</td>
		<td>{$_Entity.VehicleType}</td>
		<td>{$_Entity.IsIn}</td>
		<td>{$_Entity.IsHandInput}</td>
		<td>{$_Entity->getCamerainfoes->Name}</td>
		<td>{$_Entity.InOutTime}</td>
		<td class="hide">{$_Entity.ImagePath}</td>
	</tr>
	{/volist}
</table>
{/block}
{block name="page"}
{$EntityClasses->render()}
<script type="text/javascript" src="__STATIC__/jquery-ui-1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	$('#addBtn').hide();
	$('tr:not(:first)').dblclick(function(){
		let imgPath=$(this).find('td').last().text();
		$.getJSON("../Tool/getImage",{imgPath:imgPath},function(result){
			console.log(result);
			$('#showImg').attr('src',result);
			$('#showDetail').dialog({
				width:'840',
				show:'slide',
				hide:'explode',
				position:{
					my: "left top",
					at:"left+230 top+80,",
					collision: "fit"
				},
				title:'图片预览'+'<--->'+imgPath
			});
		});

	});

</script>
{/block}

